#projectsOuter{
    position: absolute;
    width: 100%;
    top: 20%;
    height: 80%;
    background: black;
}

#neuroTitle{
    position: absolute;
    width: 96%;
    left: 4%;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 36px;
    top: 5%;
}

#neuroDescription{
    position: absolute;
    width: 90%;
    left: 4%;
    font-family: 'Roboto Condensed', sans-serif;
    color: lightgray;
    font-size: 24px;
    top: 15%;
}

#neuroGit{
    position: absolute;
    width: 90%;
    left: 4%;
    font-family: 'Roboto Condensed', sans-serif;
    color: gray;
    font-size: 24px;
    top: 33%;
}

#colorTitle{
    position: absolute;
    width: 96%;
    left: 4%;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 36px;
    top: 43%;
}

#colorDescription{
    position: absolute;
    width: 90%;
    left: 4%;
    font-family: 'Roboto Condensed', sans-serif;
    color: lightgray;
    font-size: 24px;
    top: 53%;
}

#colorGit{
    position: absolute;
    width: 90%;
    left: 4%;
    font-family: 'Roboto Condensed', sans-serif;
    color: gray;
    font-size: 24px;
    top: 77%;
}