#workOuter{
    position: absolute;
    width: 100%;
    top: 20%;
    height: 80%;
    background: black;
}

.linkClass {
    text-decoration: none;
}
#software{
    position: absolute;
    width: 23%;
    top: 1.5%;
    left: 10%;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    cursor: pointer;
}

#softwareSelected{
    position: absolute;
    width: 23%;
    top: 1.5%;
    left: 10%;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: green;
    cursor: pointer;
}

#software:hover{
    color: green;
}

#it{
    position: absolute;
    width: 100%;
    top: 1.5%;
    left: 0%;
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    cursor: pointer;
}

#itSelected{
    position: absolute;
    width: 100%;
    top: 1.5%;
    left: 0%;
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: green;
    cursor: pointer;
}

#it:hover{
    color: green;
}

#other{
    position: absolute;
    width: 30%;
    top: 1.5%;
    left: 70%;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    cursor: pointer;
}

#otherSelected{
    position: absolute;
    width: 30%;
    top: 1.5%;
    left: 70%;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: green;
    cursor: pointer;
}

#other:hover{
    color: green;
}

#steigTitle{
    position: absolute;
    top: 12%;
    left: 0%;
    width: 100%;
    text-align: center;
    align-items: center;
    color: grey;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
}

#steigDescription{
    position: absolute;
    top: 19%;
    left: 10%;
    width: 80%;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 23px;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
}

#uniTitle{
    position: absolute;
    top: 34%;
    left: 0%;
    width: 100%;
    text-align: center;
    align-items: center;
    color: grey;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
}

#uniDescription{
    position: absolute;
    top: 41%;
    left: 10%;
    width: 80%;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 23px;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
}

#sriTitle{
    position: absolute;
    top: 56%;
    left: 0%;
    width: 100%;
    text-align: center;
    align-items: center;
    color: grey;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
}

#sriDescription{
    position: absolute;
    top: 63%;
    left: 10%;
    width: 80%;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 23px;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
}

#aethTitle{
    position: absolute;
    top: 78%;
    left: 0%;
    width: 100%;
    text-align: center;
    align-items: center;
    color: grey;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
}

#aethDescription{
    position: absolute;
    top: 86%;
    left: 10%;
    width: 80%;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 23px;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
}