#workOuter{
    position: absolute;
    width: 100%;
    top: 21%;
    height: 79%;
    background: black;
}
#software{
    position: absolute;
    width: 100%;
    top: 6%;
    left: 3%;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    cursor: pointer;
}

#softwareSelected{
    position: absolute;
    width: 100%;
    top: 6%;
    left: 3%;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: green;
    cursor: pointer;
}

#software:hover{
    color: green;
}

#it{
    position: absolute;
    width: 65%;
    top: 6%;
    left: 45%;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    cursor: pointer;
}

#itSelected{
    position: absolute;
    width: 65%;
    top: 6%;
    left: 45%;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: green;
    cursor: pointer;
}

#it:hover{
    color: green;
}

#other{
    position: absolute;
    width: 50%;
    top: 6%;
    left: 70%;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    cursor: pointer;
}

#otherSelected{
    position: absolute;
    width: 50%;
    top: 6%;
    left: 70%;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: green;
    cursor: pointer;
}

#other:hover{
    color: green;
}

